<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NumberTransformationViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>046D432B1E80C45A004EF06A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046D43441E80C45B004EF06A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046D434F1E80C45B004EF06A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
